{% extends 'base.html' %}
{% load static %}


    {% block title %}
        Dogs
    {% endblock title %}

    {% block content %}
    <main>
        <div>
            <table>
                <th>Name</th> <th>Weight</th>
                {% for dog in dogs %}
                <tr>
                    <td> {{ dog.name }} </td>
                    <td> {{ dog.weight }}</td>
                {% endfor %}
                </tr>

            </table>

        </div>
    </main>
    {% endblock content %}
